  <% include ../partials/head %>
  <% include ../partials/navbar %>

  <!-- parallax -->
  <div class="parallax-container parallax-top">
    <div class="parallax"><img src="images/alex_jaeger.jpg"></div>
  </div>

  <!-- Main Content -->
  <div class="tactical-background">
    <div class="container">
      <div class="row tactical-row">
        <div class="main-div col s12">
          <div class="signin_box">
            <div class="row">
              <div class="input-field col s9">
                <input id="email" type="email" class="validate">
                <label for="email">ACCESS I.D.</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s9">
                <input id="password" type="password" class="validate">
                <label for="password">SECURITY CODE</label>
              </div>
            </div>
            <button id="ledflash" class="btn waves-effect waves-light" name="action">Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- parallax -->
  <div class="parallax-container">
    <div class="parallax"><img src="images/angel_a_22.jpg"></div>
  </div>

  <% include ../partials/footer %>
