<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-socket-io/socket.js"></script>

  <script src="https://cdn.socket.io/socket.io-1.3.6.js"></script>
  <script src="/socket.io/socket.io.js"></script>


  <script type="text/javascript">

    var socket = io('https://young-crag-5724.herokuapp.com/');

    socket.on('connect',function(){
    console.log("connect socket");
    });
  </script>

  <script src="js/styling.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/app.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/usersController.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/dronesController.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/arduinoController.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/replbot.js" type="text/javascript" charset="utf-8"></script>
  <script src="js/app.routes.js"></script>



  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js">
  </script>

  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

</head>
