<body>

  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">HYPERION</a>
      <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down section section-fix">
        <li><a href="#aboutus">About</a></li>
        <li><a href="#drone-section">Drones</a></li>
        <li><a href="/command">Command</a></li>
      </ul>
      <ul class="side-nav section table-of-contents" id="mobile-demo">
        <li><a href="#aboutus">About</a></li>
        <li><a href="#drone-section">Drones</a></li>
        <li><a href="/command">Command</a></li>
      </ul>
    </div>
  </nav>
  </header><!-- /header -->
