  <% include partials/head %>
  <% include partials/navbar %>

  <!-- parallax -->
  <div class="parallax-container parallax-top">
    <div class="parallax">
      <img src="images/dronestation.jpg">
    </div>
  </div>

  <section class="divider">
  </section>

  <div class="aboutus">
    <div class="row">
      <div class="list-field-top col s3">

      </div>
      <div class="list-field-top col s6">
        <p>INTRO</p>
      </div>
      <div class="list-field-top col s3">

      </div>
    </div>
    <div class="row">
      <div class="list-field-top col s3">

      </div>
      <div class="list-field-vid col s6">
        <video class="responsive-video" controls>
          <source src="images/Hyperion.mp4" type="video/mp4">
        </video>
      </div>
      <div class="list-field-top col s3">

      </div>

    </div>
  </div>

  <section class="divider">
  </section>

  <div class="parallax-container parallax-top">
    <div class="parallax">
      <img src="images/dronestation.jpg">
    </div>
  </div>

  <section class="divider">
  </section>

  <!-- Main Content -->
  <div class="drone-listing" ng-controller='DronesController as drones'>
    <div class="list-field-row row">
      <div class="list-field-top col s3">

      </div>
      <div class="list-field-top col s6">
        <p>ARMORY</p>
        <a href="/newdrone" class="btn-floating btn-large waves-effect waves-light red" title="">
          +
        </a>
      </div>
      <div class="list-field-top col s3">

      </div>
    </div>
    <div class="row">
      <div class="list-field-bottom col s2">

      </div>
      <div class="list-field-bottom col s8">
        <div class="holder">
          <div class="slide" ng-repeat="drone in drones.all" data-id="{{drone._id}}">
            <img src="{{drone.photo_url}}">
            <span class="drone-plate">
              <h3>{{drone.name}}</h3>
              <p>{{drone.type}}</p>
              <a href="/drones/{{drone._id}}/edit" title="">Edit Drone</a>
              <button class='delete' ng-click="drones.deleteDrone(drone)">X</button>
            </span>
          </div>
        </div>
      </div>
      <div class="list-field-bottom col s2">

      </div>
    </div>
  </div>

  <section class="divider">
  </section>

  <!-- parallax -->
  <div class="parallax-container">
    <div class="parallax">
      <img src="images/dronestation.jpg">
    </div>
  </div>

  <% include partials/footer %>
