<!DOCTYPE html>
<html>
  <% include partials/head %>
<body ng-app="app" lang="en">
  <% include partials/navbar %>

  <!-- parallax -->
  <div class="parallax-container parallax-top">
    <div class="parallax"><img src="images/dronestation.jpg"></div>
  </div>

  <section class="divider">
  </section>
  <section ng-controller='UsersController as users'>
    <ul id="users">
      <li ng-repeat="user in users.all" data-id="{{user._id}}">

        <strong>{{user.name}}</strong> <em>{{user.birthday}}</em> <span class='status {{user.name | lowercase }}'>{{user.name | uppercase}}</span>
        <button class='delete' ng-click="users.deleteUser(user)">X</button>
      </li>
    </ul>
  </section>
  <section ng-controller='DronesController as drones'>
    <ul id="users">
      <li ng-repeat="drone in drones.all" data-id="{{drone._id}}">

        <strong>{{drone.type}}</strong> <em>{{drone.type}}</em> <span class='status {{drone.type | lowercase }}'>{{drone.type | uppercase}}</span>
        <button class='delete' ng-click="drones.deleteDrone(drone)">X</button>
      </li>
    </ul>
  </section>
  <div ng-controller='ArduController'>
    <button ng-click="ledOn()">On</button>
    <button ng-click="ledOff()">Off</button>
    <button ng-click="servoGo()">Go</button>
    <button ng-click="servoStop()">Stop</button>
  </div>

  <!-- form -->
  <div class="drone-listing" ng-controller='DronesController as drones'>
    <div class="row">
      <div class="list-field-top col s3">

      </div>
      <div class="list-field-top col s6">
        ARMORY
      </div>
      <div class="list-field-top col s3">

      </div>
    </div>
      <div class="list-field col s2" background-image: url(http://i.kinja-img.com/gawker-media/image/upload/ooryumwjwpktpdnudmii.jpg);>

      </div>
      <div class="list-field col s7">
dsfadsf
      </div>
      <div class="list-field col s3">
adfsd
      </div>
  </div>

  <div class="parallax-container">
    <div class="parallax"><img src="images/cityruins.jpg"></div>
  </div>


</body>
</html>
