  <% include partials/head %>
  <% include partials/navbar %>

  <!-- parallax -->
  <div class="parallax-container parallax-top">
    <div class="parallax">
      <img src="images/dronestation.jpg">
    </div>
  </div>

  <section class="divider">
  </section>

<!--   <section ng-controller='DronesController as drones'>
    <ul id="users">
      <li ng-repeat="drone in drones.all" data-id="{{drone._id}}">

        <strong>{{drone.type}}</strong> <em>{{drone.type}}</em> <span class='status {{drone.type | lowercase }}'>{{drone.type | uppercase}}</span>
        <button class='delete' ng-click="drones.deleteDrone(drone)">X</button>
      </li>
    </ul>
  </section> -->

  <!-- Main Content -->
  <div class="drone-listing" ng-controller='DronesController as drones'>
    <div class="row">
      <div class="list-field-top col s3">

      </div>
      <div class="list-field-top col s6">
        ARMORY
      </div>
      <div class="list-field-top col s3">

      </div>
    </div>
    <div class="row">
      <div class="list-field-bottom col s2">

      </div>
      <div class="list-field-bottom col s8">
        <div class="holder">
          <div class="slide" ng-repeat="drone in drones.all" data-id="{{drone._id}}">
            <img src="images/{{drone.photo_url}}">
            <span class="drone-plate">
              <h3>{{drone.name}}</h3>
              <p>{{drone.type}}</p>
              <button class='edit' ng-click="drones.Drone(drone)">X</button>
              <button class='delete' ng-click="drones.deleteDrone(drone)">X</button>
            </span>
          </div>
        </div>
      </div>
      <div class="list-field-bottom col s2">

      </div>
    </div>
  </div>

  <section class="divider">
  </section>

  <!-- parallax -->
  <div class="parallax-container">
    <div class="parallax">
      <img src="images/dronestation.jpg">
    </div>
  </div>

  <% include partials/footer %>
