.nav-wrapper {
  background-color: black;
  opacity: 0.8;
}

body {
  background-image: url(../images/dronewall6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main-div {
  margin-top: 10%;
  background-color: black;
  opacity: 0.5;
  height: 500px;
}

.input-field {
  margin-left: 20%;
}
