.nav-wrapper {
/*  background-color: #430909;*/
  background-color: black;
}

body {
/*  background-image: url(../images/dronewall6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 1120px), (max-height: 630px) {
    body { background-size: auto; }*/
}

/*.container {
  background-color: none;
}*/

nav {
  position: fixed;
  z-index: 1;
}

.main-div {
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: white;
  height: 500px;
}

.tactical-screen {
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: white;
  background-image: url(../images/mars.jpg);
  height: 400px;
}

.tactical-background {
  background-color: black;
}

.tactical-row {
  margin-bottom: 0;
}

.signin_box {
  margin-top: 5%;
  margin-left: 15%;
  color: white;
}

.newdrone-box {
  margin-top: 5%;
  margin-left: 15%;
  color: black;
}

.cont-subdiv-top {
  color: beige;
  height: 250px;
  background-color: black;
}

.cont-subdiv-bot {
  height: 240px;
  color: beige;
}

.list-field {
  color: white;
  background-color: black;
  height: 80px;
  text-align: center;
  img {
    width: 200px;
    height: 200px;
  }
}

.list-field-row {
  height: 130px;
  background-color: black;
}

.list-field-top {
  color: white;
  background-color: black;
  height: 80px;
  text-align: center;
  font-size: 300%;

  p {
    margin: 0;
  }

  a {
    font-size: 50%;
  }

}

.list-field-bottom {
  color: white;
  background-color: black;
  height: 390px;
  text-align: center;
  overflow-x: scroll;
  img {
    width: 200px;
    height: 200px;
  }
}

.input-field {
  color: black;
}

.slide {
  float: left;
  margin-right: 1%;
  a {
    color: white;
  }
}

.holder {
  width: 1000%;
}



.parallax-container {
  height: 600px;
  .parallax {
    img {
    }
  }
}

.parallax-top {
  height: 150px;
}

.drone-listing{
  .row{
    margin-bottom: 0;
  }
}

.divider {
  height: 10px;
  background-color: white;
}

/*.tactical-container {
  background-color: black;

}*/

footer {
  background-color: black;
  height: 60px;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: white;
  z-index: 1;

  div {
    margin-top: 1%;
    float: right;
  }

}
