  <% include ../partials/head %>
  <% include ../partials/navbar %>

  <!-- parallax -->
  <div class="parallax-container parallax-top">
    <div class="parallax"><img src="images/cityruins.jpg"></div>
  </div>

  <!-- Main Content -->
  <section class="divider">
  </section>

  <div class="tactical-background">
    <div class="container tactical-container">
      <div class="row tactical-row">
        <div class="tactical-screen col s12">
          <div ng-controller='ArduController'>
            <button ng-click="ledOn()">LED ON/OFF</button>
            <button ng-click="ledBlink()">Blink</button>
            <button ng-click="servoGo()">Forward</button>
            <button ng-click="servoBack()">Back</button>
            <button ng-click="servoStop()">Stop</button>
            <button ng-click="servoLeft()">Left</button>
            <button ng-click="servoRight()">Right</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="divider">
  </section>

  <!-- parallax -->
  <div class="parallax-container">
    <div class="parallax"><img src="images/cityruins.jpg"></div>
  </div>

  <% include ../partials/footer %>
